<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo Cellulari</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <div class="bg-dark color-white p-4 text-center rounded-bottom">
            <a th:href="@{/}" class="fs-4 text-white me-4">Home</a>
            <a th:href="@{/registrazione}" class="fs-4 text-white me-4">Registrazione Cliente</a>
            <a th:href="@{/logincliente}" class="fs-4 text-white me-4">Area Riservata Cliente</a>
            <a th:href="@{/admin}" class="fs-4 text-white me-4">Area Riservata Amministratore</a>
        </div>

        <div class="row mt-4 justify-content-center mh-100">
            <div th:each="articolo : ${articoli}" class="col-lg-3 text-center p-2">
                <img th:src="|${articolo.immagine}|" alt="Telefono" style="width: auto; height: 200px;">
                <h4 class="text-primary mt-2"><a th:href="@{/dettaglio(id=${articolo.idArticolo})}" th:text="|${articolo.marchio} ${articolo.modello}|">Marca e modello</a></h4>
            </div>
        </div>
    </div>

</body>

</html>